.Navbar {
	display: flex;
	flex-direction: column;
	background: var(--background-colour-secondary);
	position: fixed;
	top: 0vh;
	bottom: 0vh;
	left: 0vh;
	width: var(--navbar-width-thin);
	min-height: 100vh;
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
	align-items: center;
	transition-duration: var(--transition-speed);
}

.NavbarItem {
	display: block;
	transition-duration: var(--transition-speed);
}
