:root {
	--navbar-item-spacing: 2vh
}

.Navbar {
	display: inline-flex;
	flex-direction: column;
	background: var(--background-colour-secondary);
	position: fixed;
	top: 0vh;
	bottom: 0vh;
	left: 0vw;
	width: var(--navbar-width-thin);
	min-height: 100vh;
	margin: 0;
	padding: 0;
	height: 100%;
	align-items: center;
	vertical-align: middle;
	transition-duration: var(--transition-speed);
}

.NavbarItem {
	transition-duration: var(--transition-speed);
	margin: var(--navbar-item-spacing);
}
