:root {
	--scroll-amount: 0;
}


.Welcome {
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	justify-content: center;
  }

.Welcome-content {
	width: 50%;
	height: 10%;
	z-index: -1;
	transform: translateY(0%);
}

.Welcome-text {
	font-size: xx-large;
	font-weight: 500;
}
