:root {
	--navbar-item-spacing: 2vh;
	--backdrop-filter: blur(20px) saturate(200%) contrast(25%) brightness(110%);
}

.Navbar {
	display: inline-flex;
	flex-direction: column;
	background-color: rgba(128, 128, 128, 0.1);
	backdrop-filter: var(--backdrop-filter);
	-webkit-backdrop-filter: var(--backdrop-filter);
	position: fixed;
	top: 0vh;
	bottom: 0vh;
	left: 0vw;
	width: var(--navbar-width-thin);
	min-height: 100vh;
	margin: 0;
	padding: 0;
	height: 100%;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	transition-duration: var(--transition-speed);
	z-index : 1;
}

.NavbarItem {
	transition-duration: var(--transition-speed);
	margin: var(--navbar-item-spacing);
	height: calc(var(--font-size) * 1.3);
	width: calc(var(--font-size) * 1.3);
}

.NavbarIcon {
	width: 100%;
	fill: var(--text-colour-primary); /* Change the fill color to red */
	stroke: var(--text-colour-primary); /* Change the stroke color to blue */
	stroke-width: 1; /* Set the stroke width to 2 pixels */
}

.NavbarItem.a:hover {
	color: var(--text-colour-secondary);
}
