:root {
	--navbar-item-spacing: 2vh;
}

.Navbar {
	display: inline-flex;
	flex-direction: row;
	background-color: rgba(128, 128, 128, 0.1);
	position: fixed;
	top: 0vh;
	bottom: 0vh;
	left: 0vw;
	width: 5%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	height: 100%;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	transition-duration: var(--transition-speed);
	z-index : 1;
}

@Supports (backdrop-filter: var(--frosted-glass-backdrop)) or (-webkit-backdrop-filter: var(--frosted-glass-backdrop))  {
	.Navbar {
		-webkit-backdrop-filter: var(--frosted-glass-backdrop);
	}
}

.NavbarItem {
	transition-duration: var(--transition-speed);
	margin: var(--navbar-item-spacing);
	height: calc(var(--font-size) * 1.3);
	width: 80%;
}

.NavbarIcon {
	width: calc(var(--font-size) * 1.3);
	fill: var(--text-colour-primary); /* Change the fill color to red */
	stroke-width: 1; /* Set the stroke width to 2 pixels */
}

.NavbarItem:hover {
	background-color: var(--text-colour-secondary);
}
