:root {
	--navbar-item-spacing: 0.5rem;
	--navbar-border-radius: calc(var(--border-radius)*1.5);
	--navbar-font-size: xx-large;
	--navbar-blur-amount: calc(var(--blur-amount) / 2);
}

.Header {
	width: 100%;
	position: fixed;
	height: 0.75rem;
	z-index: 9998;
	justify-content: center;
	top: 0;
}

.Navbar, .NavbarItem {
	transition-duration: var(--transition-speed);
	border-start-start-radius: calc(var(--navbar-border-radius) / 5);
    border-start-end-radius: var(--navbar-border-radius);
    border-end-start-radius: var(--navbar-border-radius);
    border-end-end-radius: var(--navbar-border-radius);
	overflow: hidden; 
}

.Navbar {
	display: inline-flex;
	flex-direction: column;
	background-color: rgba(128, 128, 128, 0.1);
	position: fixed;
	top: 0vh;
	bottom: 0vh;
	left: 0vw;
	max-width: 100%;
	max-height: fit-content;
	margin: 1rem;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	z-index : 9999;
}

.Navbar.open {
	min-width: 10rem;
	min-height: 10rem;
	backdrop-filter: blur(calc(var(--navbar-blur-amount) / 2)); 
}

.Navbar.closed {
	min-width: 0.5rem;
	min-height: 0.5rem;
	backdrop-filter: blur(var(--navbar-blur-amount)); 
}

.NavbarItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: var(--navbar-item-spacing);
	margin-right: var(--navbar-item-spacing);
	font-size: var(--navbar-font-size);
	height: calc(var(--navbar-font-size) * 1.55);
	width: 100%;
	cursor: pointer;
	padding: 0.15rem;
}

.NavbarIcon {
	justify-content: center;
	align-items: center;
	fill: var(--text-colour-primary);
	stroke-width: 1;
}

.NavbarItem:hover {
	background-color: var(--text-colour-secondary);
}
