:root {
	--footer-font-size: medium;
	--footer-padding: 0.5%;
}

.Footer {
	display: flex;
	flex-direction: column;
	background: var(--background-colour-footer);
	margin-bottom: 0%;
	list-style: none;
	align-items: center;
	font-size: var(--footer-font-size);
	transition-duration: var(--transition-speed);
    padding-top: var(--footer-padding);
    padding-bottom: var(--footer-padding);
    width: 100%;
	border-top: var(--border-colour);
}	

.FooterRow {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: center;
	align-items: center;
}
