:root {

}

.InvestContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 2rem;
}

.Graph {
	width: 80%;
	min-height: 50vh;
}

.OrderPanelInputs {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.OrderPanelInput {
	display: flex;
	flex-direction: row;
}
